body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white; /* Couleur de texte blanche */
    font-family: 'Helvetica', sans-serif; /* Utiliser la police Helvetica ou une police sans-serif similaire */
  }